name: Deploy POS Windows

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64
      - run: flutter pub get
      - run: flutter build windows
      - name: Build MSIX
        run: flutter pub run msix:create
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/windows/x64/runner/Release/*.msix
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
